<%= button_to 'New Chat', chats_path, method: :post, data: {turbo:false} %>
<% @chats.each do |chat| %>
    <div >
      <%= link_to(chat.title || "Chat #{chat.id}", chat) %>
    </div>
  </div>
<% end %>
